# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Vim swap files
*.swp

# Ignore vim plugins
.vim/autoload/*
.vim/plugged/*
.vim/.netrwhist

archive/*
.Rhistory

.unison/*
!.unison/*.prf
