[user]
	email = kslowikowski@gmail.com
	name = Kamil Slowikowski
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
